node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Firebase keys and environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Firebase Functions
functions/node_modules/
functions/.runtimeconfig.json

# Build folders
android/
ios/